body,html{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.atm{
  background-color: #857F81;
  width: 100%;
  height: 100%;
  display: flex;
}

.screen{
  width: 80%;
  height: 80%;
  background-color: #003C74;
  margin: auto;
  
}